#site-notes-body.popup {
  background-color: white;
  color: #7da7d8;
  padding: 8px 8px 20px 8px;
  border: 4px solid #7da7d8;
  min-width: 400px;
}

#site-notes-body.sidebar {
  background-color: white;
  color: #7da7d8;
  padding: 4px;
  border-left: 4px solid #7da7d8;
  height: 100vh;
}

#site-notes-body.popup .delete {
  right: 14px;
  padding-left: 4px;
  padding-top: 4px;
}

#site-notes-body.popup .plus {
  padding-left: 4px;
  padding-top: 5px;
}


#site-notes-body .note-divider {
  width: 100%;
  height: 11px;
  cursor: pointer;
  margin: 0px;
  background-color: white;
  width: calc(100% - 25px);
}
#site-notes-body .plus {
  float: left;
  border: 1px solid gray;
  border-radius: 11px;
  height: 11px;
  width: 11px;
  font-size: 12px;
  line-height: 6px;
  padding-left: 1px;
  color: gray;
}
#site-notes-body .line {
  float: left;
  margin-left: 8px;
  width: calc(100% - 50px);
  margin-top: 5px;
  height: 0px;
  border-top: 1px dashed gray;
}

#site-notes-body .note textarea {
  width: 100%;
  margin: 0px;
  border: none;
}

#site-notes-body .delete {
  position: absolute;
  right: 8px;
  margin-top: -4px;
  background-color: white;
  border: 1px solid red;
  border-radius: 11px;
  height: 11px;
  width: 11px;
  font-size: 5px;
  line-height: 8px;
  padding-left: 1px;
  color: red;
  cursor: pointer;
}

#site-notes-body #search-results a {
  color: #7da7d8;
}
#site-notes-body #search-results a:visited {
  color: #7da7d8;
}
#site-notes-body #search-results h4 {
  margin-top: 4px;
  margin-bottom: 0px;
}
#site-notes-body #search-results ul {
  margin: 0px;
}
#site-notes-body #search-results li {
  color: black;
}
